.section-keyboard{
    text-align: center;
    margin-top: 1.5rem;
}
.key{
    padding: .8rem 1.1rem;
    border: 2px solid #999;
    cursor: pointer;
    background-color: transparent;
    margin: .5rem .5rem 0 0;
    color: #222;
    font-weight: bolder;
    border-radius: 5px;
}
.key:hover{
    background-color: #6b9cf8;
}