.tooltip{
    display: none;
}
.tooltip.active{
    position: absolute;
    z-index: 100;
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 1rem;
    display: block;
    animation: .3s show forwards;
}
[data-title="tooltip"]{
    text-align: center;
}
[data-title="type"]{
    font-weight: bolder;
    text-decoration: underline;
}
/*animação*/
@keyframes show{
    from{
        opacity: 0;
        transform: translateX(-3rem);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}